body{
    background-color: seashell;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

@media (max-width: 480px) {
    .grid {

		display: grid;
		grid-template-columns: 1fr;
        grid-template-rows: auto;
        
    }

    img {
        width: 100%;
        height: auto;
    }
    

}

@media (min-width: 600px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
    }

    article {
        grid-column: span 1;
    }

    #rock {
        grid-column: span 1;
    }

    #doll {
        grid-column: span 1;
    }

    #birds {
        grid-column: span 1;
    }

    #houses {
        grid-column: span 1;

    }

    #still_life {
        grid-column: span 1;
    }
}